@import "vars.scss";

.about {
  font-family: $LakesRegular;
  font-size: 14px;
  line-height: 18px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
  }
  @media (min-width: 1366px) {
    margin-left: 15px;
    max-width: 1120px;
  }
}

.about__text {
  margin: 24px 16px 15px 20px;
  max-height: 90px;
  overflow: hidden;
  @media (min-width: 768px) {
    min-width: 300px;
    margin: 24px 20px 15px 24px;
    padding-right: 35px;
    max-height: 160px;
    overflow: hidden;
  }
  @media (min-width: 1366px) {
    min-width: 490px;
    margin: 24px 20px 15px 24px;
    max-height: 160px;
  }
}
.about__text--open {
  max-height: fit-content;
}

.read-more-btn {
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  font-family: $LakesRegular;
  color: #1b1c21;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.hide__img {
  transform: rotate(180deg);
}

.cps-photo {
  display: block;
  max-height: 100%;
  max-width: 100vw;
  align-self: flex-start;
  @media (min-width: 768px) {
    max-width: 360px;
    margin-top: 24px;
    margin-right: 24px;
    border-radius: 5px;
  }
  @media (min-width: 1366px) {
    max-width: 480px;
  }
}
.main {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
