@import "vars.scss";

.gallary {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid $bordercolor_2;
  @media (min-width: 768px) {
    margin-top: 30px;
    max-height: 290px;
    overflow: hidden;
  }
}

.gallary-prices {
  @media (min-width: 768px) {
    max-height: fit-content;
  }
}
.gallary-header {
  padding: 16px;
  background: linear-gradient(to right, $bgColor_1, $bgColor_2);
  @media (min-width: 768px) {
    padding: 24px;
  }
  @media (min-width: 768px) {
    padding-left: 35px;
  }
}
.gallary-header__title {
  margin: 0;
  color: $color_2;
  text-transform: uppercase;
  font-family: $LakesRegular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.cards-wrapper {
  max-width: 1100px;
  @media (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1100px;
  }
}

.cards-container {
  padding: 16px;
  width: 100vw;
  min-height: 135px;
  @media (min-width: 768px) {
    padding: 24px;
    padding-right: 0;
  }
  @media (min-width: 1366px) {
    max-width: calc(100vw - 320px);
    padding-left: 35px;
  }
}
///////////pagination/////////
.swiper-pagination {
  position: absolute;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  background: $bgColor_3;
}
.swiper-pagination-bullet-active {
  background: $bgColor_4;
}
/////скрыть/показать///////////
.button-show,
.button-hide {
  display: flex;
  align-items: center;
  margin-left: 24px;
  @media (min-width: 1366px) {
    margin-left: 35px;
  }
}
.button__text {
  font-family: $LakesRegular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.button__img {
  margin-right: 15px;
}
.button.hidden {
  display: none;
}
.showCards {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
