@import "vars.scss";

menu {
  margin: 0;
  padding: 0;
}
.navigation {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
li {
  list-style-type: none;
}

.link {
  color: #7e7e82;
  font-family: $LakesMedium;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  margin-left: 16px;
  text-decoration: none;
  padding: 8px 16px;
}

.link:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 6px 14px;
}
