@import "vars.scss";

.modal-call {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $bgColor_2;
  @media (min-width: 1366px) {
    position: relative;
    bottom: 70px;
  }
  &--hidden {
    display: none;
  }
}

.modal-call-title__text {
  display: block;
  margin-left: 16px;
  color: $color_1;
  font-family: $LakesBold;
  font-size: 24px;
  line-height: 32px;
  @media (min-width: 1366px) {
    margin-left: 32px;
  }
  &:before {
    content: url("../img/highlight.svg");
    position: absolute;
    left: 0;
    @media (min-width: 1366px) {
      content: url("../img/highlight-desktop.svg");
      position: absolute;
      left: 0;
    }
  }
}

.modal-call-input {
  font-family: $LakesRegular;
  font-size: 16px;
  align-self: center;
  width: 288px;
  height: 48px;
  padding: 12px;
  margin-top: 16px;
  border: 1px solid $bordercolor_1;
  border-radius: 8px;
  @media (min-width: 1366px) {
    width: 376px;
  }
}

.modal-call-input__message {
  height: 118px;
}

.modal-call-submit {
  max-width: 85%;
  margin: 16px;
  font-family: $LakesRegular;
  font-size: 14px;
  line-height: 16px;
  @media (min-width: 1366px) {
    margin-left: 32px;
  }
}
.modal-call-submit--link {
  text-decoration: none;
  color: $color_3;
}
.modal-call-submit__button {
  align-self: flex-end;
  margin-right: 16px;
  @media (min-width: 1366px) {
    margin-right: 32px;
  }
}
