@import "vars.scss";

.card-repair-type {
  width: 240px;
  height: 160px;
  border: #eaeaea solid 1px;
  border-radius: 6px;
  background-color: #ffffff;
  list-style: none;
}
.card-repair-type__link {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
}
.cards-container-repair-type {
  padding: 16px;
  width: 100vw;
  min-height: 220px;
}
.card-repair-type__text {
  font-family: $LakesRegular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #1b1c21;
}
.card-repair-type__img {
  align-self: flex-end;
}
