@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/components/pagination/pagination.scss";
@import "vars.scss";

@import "modal-call.scss";
@import "modal-feedback.scss";
@import "side-menu.scss";

@import "nullstyle.scss";
@import "header.scss";
@import "title.scss";
@import "menu.scss";
@import "about.scss";
@import "gallary.scss";
@import "brands.scss";
@import "repair-type.scss";
@import "prices.scss";
@import "commercial.scss";
@import "footer.scss";

body {
  background-color: $bgColor_1;
}
.page-wrapper {
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  @media (min-width: 1366px) {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}
.content {
  max-width: calc(100-320px);
}
.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  &--true {
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}
.click {
  cursor: pointer;
}

button:not(.lang__button):hover {
  filter: hue-rotate(30deg);
  transition: ease 1s;
}
